@media  (max-width:375px) {
  body{
     width: 375px;
     height: 2100px;
     padding-left: 10px;
     padding-right: 10px;
  }
  .nav-list{
    display: none;
  }
  .burger-menu{
    display: block;
  }
  h1{
    width: 312px;
    height: 120px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    margin-left: 31px;
    margin-right: 31px;
  }

  .image-wrapper{
    width: 375px;
    display: flex;
    flex-direction: column;

  }
  .name{
    width: 170px;
    height: 170px;
    margin-left: 103px;
    margin-right: 103px;
  }
  .text{
    width: 328px;
    height: 96px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .first{
    width: 208px;
    margin-right: 83px;
    margin-left: 83px;
  }
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 26px;
    width: 375px;
    height: 182px;
    margin-top: 150px;
}
h3{
  width: 105px;
  height: 20px;
  font-weight: 400;
  font-size: 18px;
  margin-left: 135px;
 
}
.card1{
  width: 354px;
  height: 266px;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
}
.middle{
  display: flex;
  flex-direction: column;
  column-gap: 17px;
  width: 375px;
  height: 647px;
  background: #EDF7FA;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 11px;
  padding-bottom: 38px;
}
.card-section{
  width: 375px;
  height: 450px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  row-gap: 20px;
  margin-left: 0px;
}
.zoom{
  width: 339px;
  height: 230px;
}
.card-section1{
  display: none;
}
.line2{
  display: none;
}
h4{
  font-weight: 700;
  font-size: 24px;
  color: #21243D;
  margin-bottom: 50px;
}
.para{
  width: 344px;
  height: 96px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243D;
}
.line{
  width: 339px;
  border: 1px solid #E0E0E0;
  margin-left: 18px;
  margin-top: 20px;
}
.image-wrapper{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin: 12px 14px 7px 10px;   
}
}